*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    width:50%;
    height:auto;
    background:white;
}
.header{
    height:100px;
    width:100%;
    background:white;
    background-image:linear-gradient(rgb(81, 142, 221) , rgba(81,142,221,0.7));
    border-top:4px solid green;
    padding:10px;
}
.logo{
    height:80px;
    width: 30%;
    float:left;
    padding:10px 5px;
}
.logo img{
    height:60px;
    width:auto;
    float:right;
}
.heading{
    height:80px;
    width:70%;
    float:right;
}
.heading h1{
    font-size:24px;
    margin:26px 5px;
    font-family:Arial;
    color:white;
    font-weight:bold;
}
.menu{
    height:40px;
    width:100%;
    background-image:linear-gradient(rgba(152, 152, 152,0),rgba(152, 152, 152,1));
    padding:10px;
}
.menu a{
    font-family:Arial;
    font-size:20px;
    margin:0px 40px;
    text-decoration:none;
    color:rgb(82, 82, 82);
}
.main_body{
    height:534px;
    width:100%;
    background:white;
}
.info{
    width:65%;
    padding:30px 20px;
    height:534px;
    font-family:Arial;
    float:left;
}
.info h1{
    color:blue;
    margin-bottom:15px;

}
.info h3{
    color:rgb(57, 57, 57);
}
#p1{
    margin:20px 0px;
    font-size:10px;
    color:rgb(76, 76, 76);
}
.info h5{
    margin-top:10px;
    margin-bottom:4px;
    color:rgb(66, 66, 66);
}
.info p:not(#p1){
    font-size:10px;
    color:rgb(66, 66, 66);
}
.update{
    margin:10px 0px;
}
.promotion{
    height:534px;
    width:35%;
    float:right;
}
.promotion_tab{
    width:80%;
    height:auto;
    margin:20px 10%;
    background:rgb(196, 196, 196);
    padding:15px;
    font-family:Arial;
}
.promotion_tab h3{
    margin:10px 10px;
    color:purple;
}
#subscribe{
    margin-top:0px;
}
.promotion_tab a{
    color:rgb(88, 88, 88);
    font-size:15px;
}
.promotion_tab i{
    margin-right:5px;
    font-size:15px;
}
.promotion_tab button{
    width:80%;
    margin:15px 10% 0px 10%;
    padding:10px; 
    border:none;
    color:black;
    background-image:linear-gradient(rgba(198, 129, 0,0.3),rgba(198, 129, 0,1))
}
.footer{
    width:100%;
    height:100px;
    background:rgb(38, 38, 38);
    padding:10px 20px;
    font-family:Arial;
    color:white;
    font-size:10px;
}